[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pip = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
docxtpl = "*"
sendgrid = "*"
python-decouple = "*"
django = "*"

[requires]
python_version = "3.7"
